/* Estilos Gerais */
.ex1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);   
    gap: 20px;
}

.ex5 {
    display: grid;
    list-style: none;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px;
}

.ex5 img {
    width: 100%;
    height: auto;
    display: block;
}


@media (max-width: 800px) {
    .ex1 {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 580px) {
    .ex5 { 
        grid-template-columns: 1fr; 
    }
}