nav a{
    color: #ffffff;
    text-decoration: none;
    
   
}
.Menu{
   display: flex;
   justify-content: space-between;
   margin: 30px;
    
    height: 75px;
   
}
hr{
    margin: 0;
}

#sobre{
   padding: 40px;
   margin: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    
   

    
    
}

body{
    background-image: url(Industriaaa.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    
}
#sobre h1{
    font-size: 75px;
    margin: 0;
}

button{
    width: 160px;
    height: 60px;
}

#Mecanica{
    background-color: #ff4800f5;
    color: #ffffff;
    border: solid white 0.5px;
}

#Mecanica:hover{
    background-color: #ffffff;
    color: #0000;
}

.laranja{
    color: #ff4800f5;
    -webkit-text-stroke: 0.3px #ffffff ;
}

#Mecanica a{
    color: white;
    text-decoration: none;
}
