@keyframes mudar-cor {
  0% { background-color: red; }
  33% { background-color: yellow; }
  66% { background-color: blue; }
  100% { background-color: red; }
}
h1 {
  width: 200px;
  height: 200px;
  animation-name: mudar-cor;
  animation-duration: 5s; /* Tempo que a animação leva para completar um ciclo */
  animation-iteration-count: infinite;
  text-align: center; 
  color: white;
  font-size: 150px;/* Repete a animação para sempre */
}